@using Domain.Enums
@using Domain.Views
@model IEnumerable<Domain.Views.DetailedSummonerInfoView>

@{
    ViewBag.Title = "Update Roster Lineup";
    var lineup = new UpdateRosterLineupView
    {
        Lineup = new Dictionary<Guid, SummonerRoleEnum>()
    };
    
    var modelList = Model.ToList();
    var checkboxList = new List<SummonerRoleEnum>
    {
        SummonerRoleEnum.None,
        SummonerRoleEnum.Top,
        SummonerRoleEnum.Jungle,
        SummonerRoleEnum.Mid,
        SummonerRoleEnum.Adc,
        SummonerRoleEnum.Sup
    };
    var checkboxListDropdown = new List<SelectListItem>();
    foreach (var view in modelList)
    {
        lineup.Lineup.Add(view.Id, view.TeamRole);
    }
    foreach (var roleEnum in checkboxList)
    {
        checkboxListDropdown.Add(new SelectListItem
        {
            Text = roleEnum.ToString(),
            Value = roleEnum.ToString()
        });
    }
}

<form method="post" >
    <div class="row">
        @{
            var enumerator = lineup.Lineup.GetEnumerator();
        }
        @for (var i = 0; i < modelList.Count(); i++)
        {
            var player = modelList[i];
            var playerInLineup = enumerator.Current.Value;
            <div class="col-sm-3">
                <label>@player.SummonerName</label>
                <input type="hidden" asp-for="@playerInLineup"/>
                <select @Html.DropDownList("TeamRole", checkboxListDropdown) ) asp-for="@playerInLineup"></select>
            </div>
            enumerator.MoveNext();
        }
        @{
            enumerator.Dispose();
        }
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>

