@using Domain.Enums
@using Domain.Helpers
@using Domain.Views
@model UpdateRosterLineupView

@{
    ViewBag.Title = "Update Roster Lineup";

    var checkboxList = new List<SummonerRoleEnum>
{
SummonerRoleEnum.None,
SummonerRoleEnum.Top,
SummonerRoleEnum.Jungle,
SummonerRoleEnum.Mid,
SummonerRoleEnum.Adc,
SummonerRoleEnum.Sup
};
    var checkboxListDropdown = new List<SelectListItem>();
    foreach (var roleEnum in checkboxList)
    {
        checkboxListDropdown.Add(new SelectListItem
        {
            Text = roleEnum.ToString(),
            Value = roleEnum.ToString()
        });
    }
    var tempList = new Dictionary<Guid, SummonerRoleTuple>();
    foreach (var player in Model.Lineup)
    {
        tempList.Add(player.Key, player.Value);
    }
    if (!Model.StatusMessage.IsNullOrEmpty())
    {
        <h4>@Model.StatusMessage</h4>
    }
}

<form method="post">
    <div class="row">
        @{
            Model.Lineup = new Dictionary<Guid, SummonerRoleTuple>();
            foreach (var player in tempList)
            {
                var playerInDictionary = new SummonerRoleTuple
                {
                    SummonerName = player.Value.SummonerName,
                    TeamRole = player.Value.TeamRole
                };
                Model.Lineup.Add(player.Key, playerInDictionary);
                <div class="col-sm-3 row">
                    <label>@Model.Lineup[player.Key].SummonerName</label>
                    <input type="hidden" asp-for="@Model.Lineup[player.Key].SummonerName" />
                    <select asp-items="checkboxListDropdown" asp-for="@Model.Lineup[player.Key].TeamRole"></select>
                </div>
            }
        }
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>

