@using Web.Views.Manage
@model Web.Models.Summoner.AccountSummonerJointModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.ProfileInfo.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileInfo.Username"></label>
                <input asp-for="ProfileInfo.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProfileInfo.Email"></label>
                @if (Model.ProfileInfo.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="ProfileInfo.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="ProfileInfo.Email" class="form-control"/>
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="ProfileInfo.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileInfo.PhoneNumber"></label>
                <input asp-for="ProfileInfo.PhoneNumber" class="form-control" />
                <span asp-validation-for="ProfileInfo.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
              
    </div>
</div>
@if (Model.ProfileInfo.IsEmailConfirmed)
{
    <div class="row">
        <br />
        <div class="col-md-2">
            <button onclick="@("window.location.href='" + Url.Action("Index", "Summoner") + "'");" class="btn">Update Summoner Info</button>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        @Html.Partial("~/Views/Summoner/_RequestSummonerPartial.cshtml", Model.SummonerInfo)
    </div>
}
else
{
    <div class="row">
        <br />
        <div>
            <p>
                You are almost done Registering. Please confirm your email and you will be able to Provide your Summoner information here.
                If you have already confirmed your email, then refresh the page.
                Once you have confirmed your Email and Registered your Summoner Information, you will be able to request to play with other players.
                As well as other players will be enabled to request to play with you.
            </p>
        </div>
    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
