

@model IEnumerable<DAL.Entities.LeagueInfo.SummonerInfoEntity>

<h2>Ban User</h2>

<div class="row">
    In order to ban a user, copy their UserId into the text box at the bottom. This will blacklist them from our website meaning they will not be able to perform any action on login attempt.
    If you made a mistake or we are unbanning an account, just input their userId again and it will change their status to unbanned.
</div>
<div class="row">
    @foreach (var summoner in Model)
    {
        <label for="@summoner.SummonerName">@summoner.SummonerName</label>
        <label for="@summoner.UserId">@summoner.UserId</label>
    }
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <label>UserId: </label>
        <input type="text" for="userId" class="form-control" />
        <button type="submit" class="btn btn-default">Update Ban</button>
    </form>
</div>