@{
    ViewData["Title"] = "Canceled Payment";
}

<h2>@ViewData["Title"]</h2>
@ViewBag.Test
@* TODO: Ryan, you need to write something here to tell the user they haven't finished signing up for the season. *@
<p>
    You have canceled your registration of signing up for the new Season. 
</p>