@model string
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
    
</p>
<p>
    Or use this: <a href="@Model" target="_blank">@Model</a>
</p>
