@inject UserManager<UserEntity> UserManager
@inject RoleManager<UserRoleEntity> UserRoleManager
@using DAL.Entities.UserData
@using Microsoft.AspNetCore.Identity
@model Domain.Views.SummonerInfoView
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
}
<br />
@if (string.IsNullOrEmpty(Model.SummonerName))
{
    <p>Please fill out your summoner information before proceeding to make your payment</p>
}
else
{
    if (!Model.IsValid || isAdmin)
    {
        <div>
            <p style="width:50%">
                To anyone signing up for this season, please note that you are only allowed to sign up for one group. By clicking the "Register for Ceal" button, you will not be able to sign up for CEAL Academy and vice versa.
            </p>
            <p style="width:50%">
                You do not need to register here to sign up as a caster. You only need to mark yourself as an e-sub on your SummonerInfo page.
            </p>
            <br />
            <p style="width:50%">
                Sign up for the new Season. Have you read and Agreed to the Rules and Conditions of the League?
                If you have not read the rules refer to the "About" page from the navbar above.
            </p><p style="width:50%">
                By clicking, you agree to our rules and will abide by them. Register for CEAL by click the checkbox and register below.
            </p>
            <div class="row">
                Register for Ceal
                <input type="checkbox" onchange="enableSignup()" />
            </div>
        </div>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ID="PaypalLink" style="display: none">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="U47C8L6SYQTYS">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <br />

        if (Model.IsAcademyEligable() || isAdmin)
        {
            <div>
                <p style="width:50%">
                    You are eligable to join Academy this Season if you so choose. You can still sign up to join the regular pool of players,
                    but know you will have to work harder for it.
                </p><p style="width:50%">
                    If you have not read the rules refer to the "About" page from the navbar above. By clicking, you agree to our rules and will abide by them.
                    If you wish to join the CEAL Academy, please click the checkbox and register below.
                </p>
                <div class="row">
                    Register For Ceal Academy
                    <input type="checkbox" onchange="enableSignup2()" />
                </div>
            </div>
        }


        if (Model.IsAcademyEligable() || isAdmin)
        {
            <form method="post" asp-controller="Account" asp-action="RegisteredForAcademy" id="AcademyLink" style="display: none;color:black;">
                <button type="submit">Register for Academy</button>
            </form>
        }
    }
    else if (Model.IsValid)
    {
        <p>
            You are signed up for the new Season, check out the other Summoners you can request for the Season. And good luck.
        </p>
    }
}
<script>
    function enableSignup() {
        var x = document.getElementById("PaypalLink");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function enableSignup2() {
        var x = document.getElementById("AcademyLink");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>