@model Domain.Views.SummonerInfoView

@if (Model.IsValid)
{
    <div class="col-md-2">
        <button style="color: black !important" class="btn" onclick="@("window.location.href='" + Url.Action("RequestPlayers", "Summoner") + "'");" >
            Request Summoners
        </button>
    </div>
}
else
{
    <br />
    <div>
        <p>
            Once you have confirmed your Email and Registered your Summoner Information,
            you will be able to request to play with other players.
            As well as other players will be enabled to request to play with you.
        </p>
    </div>
}
