@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Message"]</h3>

<p style="text-align: left; width: 50%">
    We want to create a casual amateur LCS styled tournament built by the community, for the community.
    Our primary goal is to create a friendly community atmosphere which provides players with a medium that mimics the LCS format, 
    including weekly games, streamed and shout cast matches, and a playoff series.
</p>
<div>
    <a style="font-size:20px" href="https://docs.google.com/document/d/1vNQLBbPZJyJdSX7Hl1bR-ciu6NZ-sxxMAkrtbe168wE/edit?usp=sharing">Link</a> to our rules document
</div>