@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    <strong>Support:</strong> <a href="mailto:casualesportsamateurleague@gmail.com">casualesportsamateurleague@gmail.com</a><br />
</address>
