@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    <div class="container">
        <div class="row icon-row">
            <a href="https://discord.gg/ZXDdyAh" target="_blank"><img src="../images/icons8-discord-new-logo-48.png"></a>
            <a href="https://www.twitch.tv/casualeal" target="_blank"><img src="../images/icons8-twitch-48.png"></a>
            <a href="https://www.facebook.com/casualesportsamateurleague/?modal=admin_todo_tour" target="_blank"><img src="../images/icons8-facebook-48.png"></a>
            <a href="https://twitter.com/CasualEAL" target="_blank"><img src="../images/icons8-twitter-squared-48.png"></a>
            <a href="https://www.youtube.com/channel/UCQ9TZkuWyrzoOS6_5SLc53Q" target="_blank"><img src="../images/icons8-play-button-48.png"></a>
            <a href="https://www.reddit.com/user/Casual-Esports" target="_blank"><img src="../images/icons8-reddit-48.png"></a>
            <a href="mailto:casualesportsamateurleague@gmail.com" target="_blank"><img src="../images/icons8-envelope-48.png"></a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Ansem571#7547 - Lead Developer and Owner</li>
                    <li>FoozleBamboozle#3886 - Business Owner / Finance Manager</li>
                    <li>Shadow2097#9148 - Grumpy Old Man / Stream Lead</li>
                    <li>JettStone#4724 - Devils Advocate/Public Relations</li>
                    <li>Mansdferg#3564 - League Liaison</li>
                    <li>Scatter Catt#3787 - Community Manager</li>
                    <li>TheAMO#8542 - Promotion and Development</li>
                    <li>Div1ng#4311 - Mod Team Lead</li>
                    <li>UltimateAce#5081 - The Other Guy</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Members of the "Tribunal" should be your main contact on the server. They can be found by their tag, the yellow
                            text color of their name, or from the list below. You may contact any of the following members and we will assist you.
                            For specific concerns ask directly based on your topic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</address>
