@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    <div>
        <strong>Discord:</strong>
        <a href="https://discord.gg/ZXDdyAh">Link</a> to Discord Server
    </div>
    <div>
        <strong>Twitch:</strong>
        <a href="https://www.twitch.tv/casualeal">Link</a> to our Twitch Channel
    </div>
    <div>
        <strong>Facebook:</strong>
        <a href="https://www.facebook.com/casualesportsamateurleague/?modal=admin_todo_tour">Link</a> to our FaceBook Site
    </div>
    <div>
        <strong>Youtube:</strong>
        <a href="https://twitter.com/AmateurCasual">Link</a> to our Twitter page
    </div>
    <div>
        <strong>Twitter:</strong>
        <a href="https://www.youtube.com/channel/UCQ9TZkuWyrzoOS6_5SLc53Q">Link</a> to our Youtube Channel
    </div>
    <div>
        <strong>Support:</strong>
        <a href="mailto:casualesportsamateurleague@gmail.com">casualesportsamateurleague@gmail.com</a>
    </div>
</address>
