@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    <div class="container">
        <div class="row icon-row">
            <a href="https://discord.gg/ZXDdyAh" target="_blank"><img src="../images/icons8-discord-new-logo-48.png"></a>
            <a href="https://www.twitch.tv/cealgg" target="_blank"><img src="../images/icons8-twitch-48.png"></a>
            <a href="https://www.facebook.com/casualesportsamateurleague/?modal=admin_todo_tour" target="_blank"><img src="../images/icons8-facebook-48.png"></a>
            <a href="https://twitter.com/CasualEAL" target="_blank"><img src="../images/icons8-twitter-squared-48.png"></a>
            <a href="https://www.youtube.com/channel/UCQ9TZkuWyrzoOS6_5SLc53Q" target="_blank"><img src="../images/icons8-play-button-48.png"></a>
            <a href="https://www.reddit.com/user/Casual-Esports" target="_blank"><img src="../images/icons8-reddit-48.png"></a>
            <a href="mailto:casualesportsamateurleague@gmail.com" target="_blank"><img src="../images/icons8-envelope-48.png"></a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Ansem571#7547 - Lead Developer and Owner</li>
                    <li>TheAMO#8542 - Promotion and Development / Business Owner / Finances</li>
                    <li>Brandon "aileronroll" #9023 - Division Liason Lead</li>
                    <li>The Dragon Ryder#0242 - Social Media / Content Creator</li>
                    <li>Karen Franz#4724 - Community Manager</li>
                    <li>ATXGAMER24#0089 - Stream Team Lead</li>
                    <li>CagedReaper#8719 - Rules Keeper</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Members of the "Tribunal" should be your main contact on the server. They can be found by their tag, the yellow
                            text color of their name, or from the list below. You may contact any of the following members and we will assist you.
                            For specific concerns ask directly based on your topic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</address>
