@model Web.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<img src="images/league.png" alt="" class="center-block" style="width: 50%" />
<br />
@if (Model.IsEmailConfirmed)
{
    <p class="center-block" style="width: 50%">
        Now that you have registered, please read our <a href="https://docs.google.com/document/d/1vNQLBbPZJyJdSX7Hl1bR-ciu6NZ-sxxMAkrtbe168wE/edit?usp=sharing">rules</a>
        document. For links to our social media sites and support. Go to the <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a> section.
    </p>
    <br />
}
else if (!Model.IsEmailConfirmed && !string.IsNullOrEmpty(Model.Username))
{
    <div>
        <p>
            You are almost done Registering. Please confirm your email and you will be able to Provide your Summoner information in your Profile Page.
            If you have already confirmed your email, then refresh the page.
            Once you have confirmed your Email and Registered your Summoner Information, you will be able to request to play with other players.
            As well as other players will be enabled to request to play with you.
        </p>
    </div>
    <br />
}
<p class="center-block" style="width: 50%">
    The site is currently in Alpha. We will be updating all users on the Discord Server's #developmentcenter channel.
    As we are in Alpha, please be aware that any bugs/errors may occur and to contact support immediately on the manner or post in the
    #developmentcenter channel with screen captures of the page and an explanation of what you were doing prior to the error occuring.
    Thank you for your patience and we will be notifying all users once the site has moved to Beta and beyond.
    <br />
    If you wish to join the discord server please navigate to the Contacts section of the website to see our social media links and support email.
</p>