body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Garamond" !important;
    font-size: 16px !important;
}

.navbar{
    background: #1c2951;
    color: #f0f0f0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table, th, td {
    border-width: 5px !important;
    border-color: black !important;
}

.primary {
    background-color: #ffbf00;
}

.secondary {
    background-color: #1c2951
}


.center-text {
    margin: auto;
    width: 70%
}

.card .card-body {
    background: #1c2951 !important;
    color: #f0f0f0 !important;
    border-radius: 25px !important;
    padding: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.icon-row {
    text-align: center;
    margin: 15px;
}
