@{
    ViewData["Title"] = "Successful Payment";
}

<h2>@ViewData["Title"]</h2>
<br/>
<p>
    You are signed up for the new Season, check out the other Summoners you can request for the Season as well as the Discord Community for players. And good luck in this season.
</p>
