@model Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Development Mode</h3>
<p>
    Please Contact Ansem571 on Discord about this issue. Let him know what you were doing when this occured.
    @await Html.PartialAsync("_StatusMessage", @Model)
</p>

@if (!Domain.Helpers.Extensions.IsNullOrEmpty(Model.RequestId))
{
    <p>
        <strong>RequestId</strong> @Model.RequestId
    </p>
}
