<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvalidUser</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            Your account has been banned from this site and will not be allowed to take further action
        </div>
    </div>
</body>
</html>
