@model Domain.Views.PlayoffSeedInsertView

<tr>
    <td>
        <input type="text" asp-for="RosterId"/>
    </td>
    <td>
        <input type="text" asp-for="DivisionId" />
    </td>
    <td>
        <input type="text" asp-for="Seed" />
    </td>
</tr>