@model Web.Models.Admin.TeamCreationViewModel
@using Web.Views.Manage
@{
    ViewData["Title"] = "Admin page";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
<button onclick="@("window.location.href='" + Url.Action("CreateTeamAsync", "Admin") + "'");" class="btn">Create New Team</button>
<button onclick="@("window.location.href='" + Url.Action("CreateCaptainAsync", "Admin") + "'");" class="btn">Assign Captain</button>